.App {
  text-align: center;

}
*{
  text-decoration: none;
}
.header{
  background-color:aquamarine;
  padding: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.header:Link{
  margin-left: 30px;
}
.user{
  position: absolute;
  right: 5px;
  top:5px;
  font-size: 20px;
  font-style: oblique;
  height: 30px;
}

